<div class="row animated fadeIn low">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title">Usuarios</h3>
          <h6 class="card-subtitle">{{usuarios.length}}</h6>
          <div class="table-responsive">
            <div class="alert alert-info" *ngIf="usuarios.length===0">
              <p class="mb-0">
                No hay usuarios con ese término
              </p>
            </div>
            <table class="table animated fadeIn low color-table success-table table-hover" *ngIf="usuarios.length>0">
                <thead>
                    <tr>
                        <th >Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios"  class="cursor">
                        <td >
                          <img [src]="usuario.img | imagen:'usuarios'" alt="" class="w75">
                        </td>
                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title">Médicos</h3>
          <h6 class="card-subtitle">{{medicos.length}}</h6>
          <div class="table-responsive">
            <div class="alert alert-info" *ngIf="medicos.length===0">
              <p class="mb-0">
                No hay medicos con ese término
              </p>
            </div>
            <table class="table color-table table-hover info-table animated fadeIn low" *ngIf="medicos.length>0">
                <thead>
                    <tr>
                        <th >Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medico of medicos" class="cursor" (click)="abrirMedico(medico)">
                        <td>
                          <img [src]="medico.img| imagen:'medicos'"
                              class="w75" alt="">
                        </td>
                        <td>{{ medico.nombre }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title">Hospitales</h3>
          <h6 class="card-subtitle">{{hospitales.length}}</h6>
          <div class="table-responsive ">
            <div class="alert alert-info" *ngIf="hospitales.length===0">
              <p class="mb-0">
                No hay hospitales con ese término
              </p>
            </div>
            <table class="table color-table table-hover warning-table animated fadeIn low" *ngIf="hospitales.length>0">
                <thead>
                    <tr>
                        <th >Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hospital of hospitales"  class="cursor">
                        <td> <img [src]="hospital.img | imagen:'hospitales'" class="w75" alt=""></td>
                        <td>{{ hospital.nombre }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
